.mouseMovement {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    height: 1000px;
}

.square {
    width: 20px;
    height: 20px;
    opacity: 0;
    background-color: black;
    z-index: 100;
    background-size: cover;
    transition: opacity .1s ease 0.4s, transform 1.2s ease;
    transform: scale(1);
}

.square:hover {
    opacity: 1;
    transition: opacity .1s ease;
    transform: scale(1.2);
}